@font-face {
    font-family: 'DMSans-Bold';
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/DMSans-Bold.woff2') format('woff2'), 
    url('../fonts/DMSans-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Mulish-Medium';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/Mulish-Medium.woff2') format('woff2'), 
    url('../fonts/Mulish-Medium.woff') format('woff');
}